<h1>Add Event</h1>

<form method="post">
    <input name="name" type="text" value="Put name of event here"/>
    <input name="description" type="text" value="Put description of even here"/>
    <input type="submit" value="Add Event" />
</form>