<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
@if (ViewBag.events.Count == 0)
 {
                <p>No events yet!</p>
 }

<table style="width:100%">
    <th>Event ID</th>
    <th>Event Name</th>
    <th>Event Description</th>

    
        @foreach (var meeting in ViewBag.events)
        {
<tr>
    <td>
        @meeting.Id
    </td>
    <td>
        @meeting.Name
    </td>
    <td>
        @meeting.Description
    </td>
    <td>
        <a asp-controller="Events" asp-action="Edit" asp-route-id="@meeting.Id">Edit Event</a>
    </td>
</tr>
         }

    
</table>