<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
@if (ViewBag.events.Count == 0)
 {
                <p>No events yet!</p>
 }

<table style="width:100%">
    <th>Event Name</th>
    <th>Event Description</th>

    
        @foreach (KeyValuePair<string, string> meeting in ViewBag.events)
        {
            <tr>
                <td>
                    @meeting.Key
                </td>
                <td>
                    @meeting.Value
                </td>
            </tr>
         }

    
</table>